doctype html
head
  meta(charset='utf-8')
  title
  link(rel='stylesheet', href='css/votepage.css')
  meta(name='viewport', content='width=device-width, initial-scale=1')
mixin message(opp, email)
    if(opp)
        h1.greeting Logged in as 
            span=email 
    else 
        h1.greeting Welcome 
            span=name 
            |  to our website

append links 
    li(style="float: right;")
        a(href="/") Loggout 

block content
    .dashboard 
        .user 
            +message(opp, name)
.vote-section
  h1 Vote Page
  .border
  form.vote-form(action='index.html', method='post')
    input.vote-form-text(type='text', placeholder='Address')
    input.vote-form-text(type='text', placeholder='Description')
    input.vote-form-text(type='text', placeholder='Value')
    input.vote-form-btn(type='submit', value='Send')
    br
    br
    input.vote-form-text(type='text', placeholder='Txid')
.check-section
  h1 Check transaction
  .search
    input.vote-form-text(type='text', placeholder='Enter Txid')
  section#section-2
    .post
      div From address: (req pubkey)
      div To address: (req address)
      .post-content
        p Txid: 
        p Value:
  section#section-2
    .post
      div From address: (req pubkey)
      div To address: (req address)
      .post-content
        p Txid: 
        p Value:
  section#section-2
    .post
      div From address: (req pubkey)
      div To address: (req address)
      .post-content
        p Txid: 
        p Value:
  section#section-2
    .post
      div From address: (req pubkey)
      div To address: (req address)
      .post-content
        p Txid: 
        p Value:
