doctype html
head
  meta(charset='utf-8')
  title
  link(rel='stylesheet', href='css/style.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js', charset='utf-8')
form.login-form( method="post" action='/register/post')
  h1 Register
  .txtb
    input(type='text' name="email")
    span(data-placeholder='Email')
  .txtb
    input(type='text' name='firstName')
    span(data-placeholder='Firstname')
  .txtb
    input(type='text' name= 'lastName')
    span(data-placeholder='Lastname' )
  .txtb
    input(type='password' name='password')
    span(data-placeholder='Password')
  .txtb
    input(type='password' name='confirm')
    span(data-placeholder='Confirm')
  .none
    p.bot Type of Wallet
    select.bot(name='type')
      option( value='0') Voter
      option( value='1') President
  .none
    p.bot Sex
    select.bot2( name='sex')
      option(value='0') female
      option(value='1') male
  input.logbtn(type='submit', value='Register')
  
script(type='text/javascript').
  $(".txtb input").on("focus",function(){
  $(this).addClass("focus");
  });
  $(".txtb input").on("blur",function(){
  if($(this).val() == "")
  $(this).removeClass("focus");
  });
