
link(rel='stylesheet', href='css/walletpage.css')

p wallet id
input(type='text', value= walletId)
p publickey
input(type='text', value= walletAddress)
p privatekey
input(type='text', value= walletPrimary)
a(href='/') home

style.
  input{
  width: 100%;
  height: auto;
  }
