*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
  }
  h1.greeting{
    text-align: center;
    }
  .vote-section{
    background: url(../img/bg.png) no-repeat center;
    background-size: cover;
    padding: 40px 0;
  }
  .vote-section h1{
    text-align: center;
    color: #ddd;
  }
  .check-section h1{
    text-align: center;
  }
  .border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
  }
  
  .vote-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }
  
  .vote-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }
  .vote-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
  }
  
  .vote-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .vote-form-btn:hover{
    background: #2980b9;
  }
  #section-2{
    padding:1em;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:1em;
  }
  .post{
    box-shadow:2px 3px 5px rgba(0,0,0,0.24);
    border-radius:8px;
    transition:0.4s;
  }
  .post:hover{
    background:rgb(177, 171, 171);
  }
  